{% extends "base.html" %}

{% block titulo %} Productos {% endblock %}

{% block contenido %}

<head>

    <title>
        COMPLETA TU COMPRAR
    </title>
</head>

<body>
    <div class="col-md-7 col-lg-8">
        <div class="container">

            <h1 style="text-align:center; color:red; margin-top: 3;" ,>Datos de Envío: </h1>

            <form class="row g-3 mt-3" action="/agregar_compra/" method="POST">{% csrf_token%}                

                <div class="col-10">
                    <label for="nombre_apellido" class="form-label">Nombres y Apellidos</label>
                    <input type="text" class="form-control" name="nombre_apellido"
                        placeholder="Escriba nombres y apellidos">
                </div>

                <div class="col-10">
                    <label for="correo" class="form-label">Correo</label>
                    <input type="text" class="form-control" name="correo" placeholder="you@example.com">
                </div>

                <div class="col-10">
                    <label for="direccion" class="form-label">Dirección</label>
                    <input type="text" class="form-control" name="direccion" placeholder="Escriba su dirección">
                </div>

                <div class="col-lg-5">
                    <label for="departamento" class="form-label">Departamento</label>
                    <input type="text" class="form-control" name="departamento"
                        placeholder="Escriba su departamento">
                </div>

                <div class="col-5">
                    <label for="ciudad" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" name="ciudad" placeholder="Escriba su ciudad">
                </div>

                <div class="col-5">
                    <label for="telefono" class="form-label">Teléfono</label>
                    <input type="text" class="form-control" name="telefono" placeholder="Escriba su telefono">
                </div>

                <div class="col-12">
                    <input type="submit" class="btn btn-primary" value="Comprar">
                </div>

            </form>
        </div>

    </div>

</body>

{% endblock %}