<head>

    <title>
        COMPLETA TU COMPRAR
    </title>
</head>

<body>
    
    <h1 style="text-align:center; color:red;",>Datos de Envio: </h1>

    <form style="text-align:center", action="/agregar_compra/" method="POST">{% csrf_token%}
        <p>nombre_apellido: <input type="text" nombre_apellido="nombre_apellido"></p>
        <p>correo: <input type="text" correo="correo"></p>
        <p>direccion: <input type="text" direccion="direccion"></p>
        <p>departamento: <input type="text" departamento="departamento"></p>
        <p>ciudad: <input type="text" ciudad="ciudad"></p>
        <p>telefono: <input type="text" telefono="telefono"></p>
        <input type="submit" value="COMPRAR">
    </form>
   
</body>