<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>

<body>
    <h2 style="text-align:center"> Nuestros Productos </h2>    
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>ID producto</th>
                <th>Nombre</th>
                <th>Costo</th>
                <th>Stock</th>
                <th>imagen</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.costo}}</td>
                <td>{{producto.cantidad_stock}}</td>
                <td>{{producto.imagen}}</td>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>